
.Witness{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-image: url(/images/bernd-dittrich-W1NsOMhU8hI-unsplash.jpg);
    background-size: cover;
    font-size: 260px;
    background-size: cover;
    color: rgb(169, 25, 0);
    font-family: myFirstFont;
    line-height: 390px;
    text-shadow:2px 4px 10px rgb(6, 6, 6);

}

h4{
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    line-height: 20px;
}
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Love_Light/LoveLight-Regular.ttf);
  }
@font-face {
  font-family: mySecondFont;
  src: url(/fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf);
}


  body {
    background-color: white;
  }

.img1{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 10px;
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 2px 2px gainsboro;

}

h2{
  color: #DC143C;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  text-align: justify;
  padding-bottom: -100px;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 60px;
  color: black;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.3s * var(--i));
  font-family: 'Times New Roman', Times, serif;
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;

}


.content {
  display: flex;
  align-content: start;
  justify-content: start;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 60px;
  text-align: start;
  margin: 0;
  color: var(--color-primary);
  color: transparent;
  background-color: white;
  background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


.description{
  color: darkgoldenrod;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  text-align: justify;
  font-weight: lighter;
  margin-bottom: 20px;

}

.Tops{
  padding: 10x;
  margin: 30px;
  margin-top: 20px;
  background-color: white;

}

.button{
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px

}


h1 {
  margin:80px 0 10px 0;
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #DC143C,
2px 2px 0px #DC143C,
3px 3px 0px #DC143C,
4px 4px 0px #DC143C;
}


.linkdeco{
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 4px 10px black;

}

.linkdeco :hover{
  text-decoration: none;
  background-color: radial-gradient(circle ,#ff1361 ,#fff800 );
  text-shadow: 2px 4px 10px black;
  font-size: larger;
  text-shadow: 6px 8px 14px rgb(104, 104, 104);
  transition: all 0.2s ease;

}









